.cart {
  background-color: pink;
  width: 100%;
  height: 100vh;
  > main {
    height: 100%;
    background-color: white;
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    >article{
        padding: 2rem;
        >div{
            display: flex;
            justify-content: space-between;
            margin: 1rem 0;
        }
        >a{
            background-color: crimson;
            color: white;
            padding: 8px 1rem;
            border-radius: 5px;
            text-align: center;
            margin-top: 2rem;
            float: right;;
        }
    }
  }
}
.cartItem {
  background-color: gainsboro;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  > div {
    display: flex;
    align-items: center;
    > h4 {
      font-weight: 200;
      letter-spacing: 2px;
    }
    > img {
      height: 60px;
    }
    > input {
      text-align: center;
      height: 2rem;
      width: 2rem;
      padding: 8px;
      margin: 4px;
      border: none;
      outline: none;
      &::-webkit-inner-spin-button,&::-webkit-outer-spin-button{
        -webkit-appearance: none;
        margin: 0%;
      }
    }
    >button{
        cursor: pointer;
        border-radius: 5px;
        border: none;
        padding: 8px;
        background-color: black;
        color: white
        
    }
  }
}
@media screen and (max-width: 600px) {
    .cart > main > article > a{
        float: none;
        width:100%;
        display: block;;
    } 
}